<!DOCTYPE html>
<html>
<head>
  <meta charset="ISO-8859-1">
  <title>Login Page</title>
</head>
<style>
  body{
      text-align: center;
      font-family: sans-serif;
  }
</style>
<body>

<h1>Login Page</h1>

<form action="/auth" method="POST">

  <label for="username">Utilisateur:</label><br>
  <input type="text" id="username" name="username"><br>

  <label for="password">Mot de passe:</label><br>
  <input type="text" id="password" name="password"><br>

  <input type="submit" value="Connect">
</form>

</body>
</html>
